{
  "extends": "@hannoeru",
  "overrides": [
    {
      "files": ["src/api/generate/**/*"],
      "rules": {
        "eslint-comments/no-unlimited-disable": "off"
      }
    },
    {
      "files": ["src/data/*"],
      "rules": {
        "jsonc/no-useless-escape": "off"
      }
    }
  ],
  "rules": {
    "curly": ["error", "multi-line"]
  }
}